* {
    margin: 0;
    padding: 0;
}

body {
    margin: 25px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

nav>.nav-items {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Poppins';
    color: #101010;
    cursor: pointer;
}

.img-action {
    width: 300px;
}

.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.left-section>h3 {
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    align-items: center;
    font-size: 40px;
    justify-content: center;
    gap: 15px;
    position: relative;
    gap: 15px;
    top: 30px;
}
.left-section>h3>img{
    width: 50px;
}

.left-section>h1{
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
}

.sub-headlines{
    margin: 0 70px;
    font-size: 30px;
    font-family: 'Poppins';
}
.sub-headline>img{
    border-radius: 50%;
    background-color: #FE5E35;
    padding: 5px;
}
.sub-headline{
    margin: 10px;
    font-weight: 400;
}
.text{
    font-family: 'Poppins';
    color: #CFCFCF;
    font-size: 20px;
}

.action-btns{
    display: flex;
    gap: 35px;
}

.action-btn{
    font-family: 'Poppins';
    background-color: #FE5E35;
    border-radius: 30px;
    border: none;
    font-size: 24px;
    color: #ffff;
    padding: 12px 20px;
    cursor: pointer;
}

.right-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.discount{
    position: absolute;
    top: 315px;
    height: 130px;
    left: -18px;
    filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 0.3));

}
.discount-content{
    position: absolute;
    top: 355px;
    left: 18px;
}
.headphone-div img:last-child {
    height: 500px;
  }

.dots{
    display: flex;
    text-align: center;
    gap: 40px;
}

.dot{
    padding: 15px;
    background-color: #FE5E35;
    border-radius: 50%;
    position: relative;
    top: -18px;
}

.yellow-dot{
    background-color: #FBD104;
}
.tomato-dot{
    background-color: #FE5E35;
}
.black-dot{
    background-color: #000;
}

.discount-content>h1{
    color: #ffff;
    font-weight: 600;
    font-family: 'Fredoka One';
    font-size: 36px;
}

.discount-content>h4{
    font-family: 'Fredoka One';
    font-size: 12px;
    color: #fff;
}
